.custom-button {
    background-color: rgb(130, 130, 127); /* Couleur de fond par défaut */
    border-color:rgb(130, 130, 127);
}

.custom-button.clicked {
    background-color: green; /* Couleur de fond lorsque le bouton est cliqué */
    color: white; /* Couleur du texte en blanc */
    border-color: green; /* Couleur de la bordure */
}


/* CSS pour styliser la disposition de l'icône "vu" */
.seen-icon-container {
    position: relative;
     text-align: right; 
}

.check-icon {
   
    /* transform: translateX(-50%); */
    font-size: 13px;
    color: rgb(98, 99, 98); /* Couleur de l'icône "vu" */
}
