<app-navbar></app-navbar>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="container">
    <h2>Liste des demandes</h2>

    <div class="btn-group">
        <button class="btn btn-primary" (click)="afficherAbsences()" [class.active]="isAbsencesActive">Absences
            <span class="badge badge-light" *ngIf="authService.isAdmin()">{{ nbEnAttenteAbsences }}</span>
            <span class="badge badge-success" *ngIf="nbEnAcceptedAbsences> 0 && authService.isUserOnly()">{{ nbEnAcceptedAbsences }}</span>
            <span class="badge badge-danger"*ngIf="nbEnRefusedAbsences> 0 && authService.isUserOnly()">{{ nbEnRefusedAbsences }}</span>
        </button>
        <button class="btn btn-primary" (click)="afficherConges()" [class.active]="isCongesActive">Congés
            <span class="badge badge-light" *ngIf="authService.isAdmin()">{{ nbEnAttenteConges }}</span>
            <span class="badge badge-success" *ngIf="nbEnAcceptedConges> 0 && authService.isUserOnly()">{{ nbEnAcceptedConges }}</span>
            <span class="badge badge-danger" *ngIf="nbEnRefusedconges> 0 && authService.isUserOnly()">{{ nbEnRefusedconges }}</span>
        </button>
        <button class="btn btn-primary" (click)="afficherPrets()" [class.active]="isPretsActive">Prêts
            <span class="badge badge-light" *ngIf="authService.isAdmin()">{{ nbEnAttentePrets }}</span>
            <span class="badge badge-success" *ngIf="nbEnAcceptedPrets> 0 && authService.isUserOnly()">{{ nbEnAcceptedPrets }}</span>
            <span class="badge badge-danger" *ngIf="nbEnRefusedprets> 0 && authService.isUserOnly()">{{ nbEnRefusedprets}}</span>
        </button>
    


        
    </div>

    <!-- Tableau pour les notifications de type "Absence" -->
    <div *ngIf="afficherTableauAbsences">
        <h3>Absences</h3>
        <table class="table table-striped">
            <!-- En-tête du tableau -->
            <thead>
                <tr>
                    <th>Personnel correspondant</th>
                    <th>Type</th>
                    <th>Date de demande</th>
                    <th>Période</th>
                    <th>État</th>
                    <th *ngIf="authService.isAdmin()">Actions</th>
                </tr>
            </thead>
            <!-- Corps du tableau -->
            <tbody>
                <tr *ngFor="let notification of notificationsAbsence">
                    <td>{{ notification.personnel?.nom }} {{ notification.personnel?.prenom + ' - ' + notification.personnel?.numCin}}</td>
                    <td>{{ notification.type }}</td>
                    <td>{{ notification.dateDemande | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ notification.periode }}</td>
                    <td>
                        <span [ngClass]="{
                            'blinking-red': notification.etat === 'en attente',
                            'text-success': notification.etat === 'accepté',
                            'text-danger': notification.etat === 'refusé',
                            'text-dark': notification.etat === 'refusé'
                        }">
                            {{ notification.etat === 'en attente' ? 'en attente' : (notification.etat === 'accepté' ? 'accepté' : 'refusé') }}
                            <i *ngIf="notification.etat === 'en attente'" class="fa fa-spinner w3-spin" style="font-size:18px; margin-left: 5px;"></i>
                        </span>
                       
                    </td>

                    <!-- Actions (affichées uniquement pour les administrateurs) -->
                   
                        <td>
                            <a *ngIf="authService.isAdmin()" class="btn btn-primary" (click)="approuverDemande(notification)">
                                <i class="fa fa-check"></i>
                            </a>
                            <a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="refuserDemande(notification)">
                                <i class="fa fa-close"></i>
                            </a>
                            <a *ngIf="authService.isAdmin()" class="btn btn-warning" [routerLink]="['/', notification.type === 'Congé' ? 'addConge' : notification.type === 'Absence' ? 'addAbsence' : 'addPret']">
                                <i class="fa fa-edit"></i>
                            </a>

                            <div *ngIf="authService.isAdmin()" class="seen-icon-container">
                                <i class="fa fa-check check-icon" *ngIf="notification.lu">Vu</i>
                            </div>

                            <a *ngIf="authService.isUserOnly()" class="btn btn-danger" (click)="supprimerNotification(notification)">
                                Supprimer <i class="bi bi-trash"></i>
                            </a>
                           
                            <!-- <a *ngIf="authService.isUserOnly()" class="btn btn-warning" [routerLink]="['/updateNotification', notification.idNotification]">
                                Modifier <i class="bi bi-pencil-square"></i>
                            </a> -->
                            <a *ngIf="authService.isUserOnly()" class="btn btn-primary custom-button" 
                            [ngClass]="{ 'clicked': notification.lu }" (click)="markAsRead($event, notification)">
                            <i class="fa fa-eye eye-icon" *ngIf="notification.lu"></i>
                         </a>


                        </td>
                        <!-- HTML pour afficher les notifications -->

  


                    
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Tableau pour les notifications de type "Congé" -->
    <div *ngIf="afficherTableauConges">
        <h3>Congés</h3>
        <table class="table table-striped">
            <!-- En-tête du tableau -->
            <thead>
                <tr>
                    <th>Personnel correspondant</th>
                    <th>Type</th>
                    <th>Date de demande</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>État</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <!-- Corps du tableau -->
            <tbody>
                <tr *ngFor="let notification of notificationsConge">
                    <td>{{ notification.personnel?.nom }} {{ notification.personnel?.prenom + ' - ' + notification.personnel?.numCin}}</td>
                    <td>{{ notification.type }}</td>
                    <td>{{ notification.dateDemande | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ notification.dateDebut | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ notification.dateFin | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <span [ngClass]="{
                            'blinking-red': notification.etat === 'en attente',
                            'text-success': notification.etat === 'accepté',
                            'text-danger': notification.etat === 'refusé',
                            'text-dark': notification.etat === 'refusé'
                        }">
                            {{ notification.etat === 'en attente' ? 'en attente' : (notification.etat === 'accepté' ? 'accepté' : 'refusé') }}
                            <i *ngIf="notification.etat === 'en attente'" class="fa fa-spinner w3-spin" style="font-size:18px; margin-left: 5px;"></i>
                        </span>
                    </td>

                    <!-- Actions (affichées uniquement pour les administrateurs) -->
                   
                        <td>
                            <a *ngIf="authService.isAdmin()" class="btn btn-primary" (click)="approuverDemande(notification)">
                                <i class="fa fa-check"></i>
                            </a>
                            <a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="refuserDemande(notification)">
                                <i class="fa fa-close"></i>
                            </a>
                             <a *ngIf="authService.isAdmin()" class="btn btn-warning" [routerLink]="['/', notification.type === 'Congé' ? 'addConge' : notification.type === 'Absence' ? 'addAbsence' : 'addPret']">
                                <i class="fa fa-edit"></i>
                            </a> 

                            <div *ngIf="authService.isAdmin()" class="seen-icon-container">
                                <i class="fa fa-check check-icon" *ngIf="notification.lu">Vu</i>
                            </div>

                            <a *ngIf="authService.isUserOnly()" class="btn btn-danger" (click)="supprimerNotification(notification)">
                                Supprimer <i class="bi bi-trash"></i>
                            </a>
                            <!-- <a *ngIf="authService.isUserOnly()" class="btn btn-warning" [routerLink]="['/updateNotification', notification.idNotification]">
                                Modifier <i class="bi bi-pencil-square"></i>
                            </a> -->
                            <a *ngIf="authService.isUserOnly()" class="btn btn-primary custom-button" 
                            [ngClass]="{ 'clicked': notification.lu }" (click)="markAsRead($event, notification)">
                            <i class="fa fa-eye eye-icon" *ngIf="notification.lu"></i>
                         </a>
                        </td>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Tableau pour les notifications de type "Prêt" -->
    <div *ngIf="afficherTableauPrets">
        <h3>Prêts</h3>
        <table class="table table-striped">
            <!-- En-tête du tableau -->
            <thead>
                <tr>
                    <th>Personnel correspondant</th>
                    <th>Type</th>
                    <th>Date de demande</th>
                    <th>Montant</th>
                    <th>Date remise</th>
                    <th>État</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <!-- Corps du tableau -->
            <tbody>
                <tr *ngFor="let notification of notificationsPret">
                    <td>{{ notification.personnel?.nom }} {{ notification.personnel?.prenom + ' - ' + notification.personnel?.numCin}}</td>
                    <td>{{ notification.type }}</td>
                    <td>{{ notification.dateDemande | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ notification.montant }}</td>
                    <td>{{ notification.dateRemise | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <span [ngClass]="{
                            'blinking-red': notification.etat === 'en attente',
                            'text-success': notification.etat === 'accepté',
                            'text-danger': notification.etat === 'refusé',
                            'text-dark': notification.etat === 'refusé'
                        }">
                            {{ notification.etat === 'en attente' ? 'en attente' : (notification.etat === 'accepté' ? 'accepté' : 'refusé') }}
                            <i *ngIf="notification.etat === 'en attente'" class="fa fa-spinner w3-spin" style="font-size:18px; margin-left: 5px;"></i>
                        </span>
                    </td>

                    <!-- Actions (affichées uniquement pour les administrateurs) -->
                    
                        <td>
                            <a *ngIf="authService.isAdmin()" class="btn btn-primary" (click)="approuverDemande(notification)">
                                <i class="fa fa-check"></i>
                            </a>
                            <a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="refuserDemande(notification)">
                                <i class="fa fa-close"></i>
                            </a>
                            <a *ngIf="authService.isAdmin()" class="btn btn-warning" [routerLink]="['/', notification.type === 'Congé' ? 'addConge' : notification.type === 'Absence' ? 'addAbsence' : 'addPret']">
                                <i class="fa fa-edit"></i>
                            </a>

                            <div *ngIf="authService.isAdmin()" class="seen-icon-container">
                                <i class="fa fa-check check-icon" *ngIf="notification.lu">Vu</i>
                            </div>
                            
                            <a *ngIf="authService.isUserOnly()" class="btn btn-danger" (click)="supprimerNotification(notification)">
                                Supprimer <i class="bi bi-trash"></i>
                            </a>
                           <!--  <a *ngIf="authService.isUserOnly()" class="btn btn-warning" [routerLink]="['/updateNotification', notification.idNotification]">
                                Modifier <i class="bi bi-pencil-square"></i>
                            </a> -->
                            <a *ngIf="authService.isUserOnly()" class="btn btn-primary custom-button" 
                            [ngClass]="{ 'clicked': notification.lu }" (click)="markAsRead($event, notification)">
                            <i class="fa fa-eye eye-icon" *ngIf="notification.lu"></i>
                         </a>
                        </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
</div>