
<div class="container">
    <div>
        <h2>Modifier un contrat:</h2>
    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID </label>
            <input readonly type="text" [(ngModel)]="currentContrat.idContrat" name="idContrat" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>type</label>
            <input type="text" [(ngModel)]="currentContrat.type" name="type" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>date d'embauche</label>
            <input type="date" [(ngModel)]="currentContrat.dateEmbauche" name="dateEmbauche" class="form-control">
        </div>
        
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>date signature</label>
            <input type="date" [(ngModel)]="currentContrat.dateSignature" name="dateSignature" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>nom du société</label>
            <input type="text" [(ngModel)]="currentContrat.nomSociete" name="nomSociete" class="form-control">
        </div>

        <div class="mt-2">
            <button type="submit" (click)="updateContrat()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>
