<!-- <app-navbar></app-navbar>  -->
<div class="container">
  <div>
    <h2>Modifier Personnel :</h2>
  </div>
  <form (ngSubmit)="updatePersonnel()" class="row g-3">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="id" class="form-label">Id Personnel:</label>
        <input readonly type="text" [(ngModel)]="currentPersonnel.id" id="id" name="id" class="form-control" [readonly]="true">
      </div>

      <div class="mb-3">
        <label for="nom" class="form-label">Nom Personnel:</label>
        <input type="text" [(ngModel)]="currentPersonnel.nom" id="nom" name="nom" class="form-control">
      </div>

      <div class="mb-3">
        <label for="prenom" class="form-label">Prenom Personnel:</label>
        <input type="text" [(ngModel)]="currentPersonnel.prenom" id="prenom" name="prenom" class="form-control">
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Nom d'utilisateur:</label>
        <input type="text" [(ngModel)]="currentPersonnel.username" id="username" name="username" class="form-control">
      </div>


      <div class="mb-3">
        <label for="dateNaissance" class="form-label">Date Naissance:</label>
        <input type="date" [ngModel]="currentPersonnel.dateNaissance | date: 'yyyy-MM-dd'" (ngModelChange)=" currentPersonnel.dateNaissance= $event"  required #dateNaissanceField="ngModel"
        name="dateNaissance" class="form-control"
        [max]="getCurrentDate() | date: 'yyyy-MM-dd'" > 
        <div *ngIf="!isDateOfBirthValid()" class="text-danger">
          <div *ngIf="dateNaissanceField?.invalid && (dateNaissanceField?.dirty || dateNaissanceField?.touched)">
            <div *ngIf="!currentPersonnel.dateNaissance">La date de naissance est requise.</div>
          </div> 
            <div *ngIf="currentPersonnel.dateNaissance && currentPersonnel.dateNaissance > getCurrentDate()">
              La date de naissance {{ currentPersonnel.dateNaissance | date: 'dd/MM/yyyy' }} ne peut pas être dans le futur.
          </div>
          <div *ngIf="currentPersonnel.dateNaissance && getDateOfBirthError() === 3">
            Le personnel doit être âgé d'au moins 18 ans. (Date de naissance: {{ currentPersonnel.dateNaissance | date: 'dd/MM/yyyy' }})
        </div>
      </div>
    </div>
  </div>
  
    <div class="col-md-6">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" [(ngModel)]="currentPersonnel.email" id="email" name="email" class="form-control" required #emailField="ngModel">
          <div *ngIf="emailField?.invalid && (emailField?.dirty || emailField?.touched)" class="text-danger">
            <div *ngIf="emailField?.errors?.['required']">Email requis.</div>
            <div *ngIf="emailField?.errors?.['email'] && !emailField?.errors?.['required']">Format d'email incorrect.</div>
            <div *ngIf="validateEmail() !== ''">{{ validateEmail() }}</div>
          </div>
        </div>
    
   


      <div class="mb-3">
        <label for="numTelephone" class="form-label">Numero Telephone:</label>
        <div class="input-group">
          <span class="input-group-text">+216</span>
          <input type="text" [(ngModel)]="currentPersonnel.numTelephone" id="numTelephone" name="numTelephone" class="form-control" required pattern="\d{8}" #numTelephoneField="ngModel">
        </div>
        <div *ngIf="numTelephoneField.invalid && (numTelephoneField.dirty || numTelephoneField.touched)" class="text-danger">
          <div *ngIf="numTelephoneField.errors?.['required']">Numero de Telephone requis.</div>
          <div *ngIf="numTelephoneField.errors?.['pattern'] || !isValidPhoneNumber(currentPersonnel.numTelephone.toString())">Le numéro de téléphone doit contenir exactement 8 chiffres.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="adresse" class="form-label">Adresse:</label>
        <input type="text" [(ngModel)]="currentPersonnel.adresse" id="adresse" name="adresse" class="form-control">
      </div>

      <div class="mb-3">
        <label for="fonction" class="form-label">Fonction:</label>
        <input type="text" [(ngModel)]="currentPersonnel.fonction" id="fonction" name="fonction" class="form-control">
      </div>

      <div class="mb-3">
        <label for="departement" class="form-label">Departement:</label>
        <select class="form-control form-control-lg" id="idDep" name="idDep" [(ngModel)]="updatedDepId">
          <option *ngFor="let dep of departements" [ngValue]="dep.idDep">{{ dep.nomDep }}</option>
        </select>
      </div>
    </div>
    

    

    <div class="col-12 mt-2">
      <button (click)="updatePersonnel()" class="btn btn-success">Modifier</button>
    </div>

  </form>



