/* Ajoutez ces styles dans votre fichier CSS existant ou créez un nouveau fichier CSS */

/* Ajoutez cette ligne au début du fichier */
@import "~bootstrap-icons/font/bootstrap-icons.css";


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}



.container {
  margin-left: 120px; /* Ajustez la marge en fonction de la largeur de votre barre latérale */
}



.table {
  width: 80%;
}


.table th {
  background-color: #f2f2f2;
}

/* Add the following styles to your existing CSS */

.search-container {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 1.5rem;
  color: #777;
  margin-right: 5px;
}

.form-control {
  width: 250px; /* Adjust the width as needed */
}

/* Responsive styling for smaller screens */
@media (max-width: 576px) {
  .form-control {
    width: 100%;
  }
}


.navbar.navbar-expand-lg {
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.form-inline {
  margin-top: 40px; /* Adjust the margin as needed */
}




