
<div class="container">
    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="account-settings">
              <div class="user-profile">
                <div class="user-avatar">
                  <img src="assets/profil.jpg" alt="">
                </div>
                <h5 class="user-name">{{ personnelData?.nom }} {{ personnelData?.prenom }}</h5>
                <h6 class="user-email">{{ personnelData?.email }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <!-- Personal Details Section -->
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2 text-primary">Personnel infos</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" [(ngModel)]="personnelData.nom" name="nom" placeholder="Enter full name">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input type="text" class="form-control" id="prenom" [(ngModel)]="personnelData.prenom" name="prenom" placeholder="Enter prenom">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="numCin">Numero Cin</label>
                    <input type="text" class="form-control" id="numCin" [(ngModel)]="personnelData.numCin" name="numCin" placeholder="Enter CIN number">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="dateNaissance">Date de Naissance</label>
                    <input type="date" class="form-control" id="dateNaissance" [(ngModel)]="personnelData.dateNaissance" name="dateNaissance" placeholder="Enter birth date">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="fonction">Fonction</label>
                    <input type="text" class="form-control" id="fonction" [(ngModel)]="personnelData.fonction" name="fonction" placeholder="Enter fonction">
                  </div>
                </div>
              </div>
              <!-- Address Section -->
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mt-3 mb-2 text-primary">Adresse</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" class="form-control" id="adresse" [(ngModel)]="personnelData.adresse" name="adresse" placeholder="Enter address">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="departement">Departement</label>
                  <select class="form-control form-control-lg" id="idDep" name="idDep" [(ngModel)]="updatedDepId">
                    <option *ngFor="let dep of departements" [ngValue]="dep.idDep">{{ dep.nomDep }}</option>
                  </select>
                </div>
              </div>
                  </div>
 
            
              <!-- Contact Section -->
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mt-3 mb-2 text-primary">Contact</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="numTelephone">Numero Telephone</label>
                    <input type="text" class="form-control" id="numTelephone" [(ngModel)]="personnelData.numTelephone" name="numTelephone" placeholder="Enter phone number">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="personnelData.email" name="email" placeholder="Enter email ID">
                  </div>
                </div>
              </div>
              <br>
              <!-- Buttons -->

              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-right">
                    <button type="button" id="cancel" name="cancel" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Modifier</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  