<!DOCTYPE html>
<html lang="en">
<head>
  <title>Responsive Sidebar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="sidebar">
    <div class="logo_details">
      <i class="bx bxl-audible icon"></i>
      <div class="logo_name">Ressources Humaines</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
       <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="">
         <span class="tooltip">Search</span>
      </li> 
      <li>
        <a routerLink="/dashboard">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-user"></i>
          <span class="link_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-chat"></i>
          <span class="link_name">Message</span>
        </a>
        <span class="tooltip">Message</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="link_name">Analytics</span>
        </a>
        <span class="tooltip">Analytics</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-folder"></i>
          <span class="link_name">File Manger</span>
        </a>
        <span class="tooltip">File Manger</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cart-alt"></i>
          <span class="link_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
       <li class="profile">
        <div class="profile_details">
          <div class="profile_content">
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">Dashboard</div>

    <div class="card-container">
      <div class="card-group">

        <a routerLink="/personnel" target="_blank">
          <div class="card">
            <img src="/assets/personnel.png" alt="personnel">
            <div class="card-body">
              <h3>Personnel</h3>
              <p></p>
            </div>
          </div>
          </a>

        <a routerLink="/assiduites" target="_blank">
      <div class="card"  >
        <img src="/assets/adminstration.png" alt="assiduite">
        <div class="card-body">
          <h4>Assiduite</h4>
          <p></p>
        </div>
    </div>
  </a>


 


  <a routerLink="/listeDep" target="_blank">
      <div class="card">
        <img src="/assets/departement.png" alt="departement">
        <div class="card-body">
          <h3>Departement</h3>
          <p></p>
        </div>
      </div>
    </a>


  <a routerLink="/listeAbsences" target="_blank">
      <div class="card">
        <img src="/assets/absence.png" alt="absence">
        <div class="card-body">
          <h3>Absence</h3>
          <p></p>
        </div>
      </div>
  </a>

    </div>
  
  <div class="card-group">
  <a routerLink="/listeConge" target="_blank">
      <div class="card">
        <img src="/assets/congé.png" alt="conge">
        <div class="card-body">
          <h3>Conge</h3>
          <p></p>
        </div>
      </div>
    </a>
    
  
    <a routerLink="/contrats" target="_blank">
      <div class="card">
        <img src="/assets/contrat.png" alt="contrat">
        <div class="card-body">
          <h3>Contrat</h3>
          <p></p>
        </div>
      </div>
      </a>


    <a routerLink="/listePret" target="_blank">
      <div class="card">
        <img src="/assets/pret.png" alt="pret">
        <div class="card-body">
          <h3>Pret</h3>
          <p></p>
        </div>
      </div>
      </a>


    <a routerLink="/documents" target="_blank">
      <div class="card">
        <img src="/assets/documentadministratif.png" alt="documentation">
        <div class="card-body">
          <h4>Documents <br> Administratifs</h4>
          <p></p>
        </div>
      </div>
    </a>


    </div>
    </div>
  </section>
  
</body>
</html>





















