<!DOCTYPE html>
<html lang="en">
<head>
  <title>Responsive Sidebar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="sidebar">
    <div class="logo_details">
      <i class="bx bxl-audible icon"></i>
      <div class="logo_name">Ressources Humaines</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" [(ngModel)]="searchTerm" (input)="filterItems()" placeholder="">
        <span class="tooltip">Search</span>
      </li>
      <li *ngIf="filteredItems.includes('dashboard')">
        <a routerLink="/dashboard">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li *ngIf="filteredItems.includes('profile')">
        <a (click)="redirectToProfile()">
          <i class="bx bx-user-circle"></i>
          <span class="link_name">Profil</span>
        </a>
        <span class="tooltip">Profil</span>
      </li>
      <li *ngIf="filteredItems.includes('users') && authService.isResponsable()">  
        <a routerLink="/users">
          <i class="bx bx-user"></i>
          <span class="link_name">User</span>
        </a>
        <span class="tooltip">Utilisateurs</span>  
      </li>
      <li *ngIf="filteredItems.includes('publication') && authService.isAdmin()">
        <a routerLink="/publication">
          <i class="bx bx-message-square"></i>
          <span class="link_name">Publication</span>
        </a>
        <span class="tooltip">Publication</span>
      </li>       
      <li *ngIf="filteredItems.includes('notifications') && authService.isAdmin()">
        <a routerLink="/notification">
          <i class="bx bx-bell"></i>
          <span class="link_name">Notifications</span>
        </a>
        <span class="tooltip">Notifications</span>
      </li>
      <li *ngIf="filteredItems.includes('order')">
        <a routerLink="/order">
          <i class="bx bx-cart-alt"></i>
          <span class="link_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li *ngIf="filteredItems.includes('settings')">
        <a routerLink="/settings">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li class="profile">
        <div class="profile_details">
          <div class="profile_content">
          </div>
        </div>
        <i class="bx bx-log-out" routerLink="/login" id="log_out"></i>
      </li>
    </ul>
  </div>


  
  <section class="home-section">
    <div class="text">Dashboard</div>

    <div class="card-container">
      <div class="card-group">
        
        <div class="notification-icons">
          <div class="notification-icon" *ngIf="nombreNotificationsAbsence > 0 && authService.isAdmin()"> 
            <a (click)="showNotification()" routerLink="/notification" class="btn btn-link" title="Demandes absence">
              <i class="material-icons" style="font-size:38px;color:rgb(176, 124, 1)">notifications_active</i>

              <span class="notification-badge">{{ nombreNotificationsAbsence }}</span>
            </a>
          </div>
          <div class="notification-icon" *ngIf="nombreNotificationsPret > 0 && authService.isAdmin()"> 
            <a (click)="showNotification()" routerLink="/notification" class="btn btn-link" title="Demandes prets">
              <i class="material-icons" style="font-size:38px;color:rgb(10, 78, 6)">notifications_active</i>
              <span class="notification-badge">{{ nombreNotificationsPret }}</span>
            </a>
          </div>
          <div class="notification-icon" *ngIf="nombreNotificationsConge > 0 && authService.isAdmin()"> 
            <a (click)="showNotification()" routerLink="/notification" class="btn btn-link" title="Demandes congés">
              <i class="material-icons" style="font-size:38px;color:rgb(6, 30, 78)">notifications_active</i>
              <span class="notification-badge">{{ nombreNotificationsConge }}</span>
            </a>
          </div>
        </div>

        <a routerLink="/personnel">
          <div class="card">
            <img src="/assets/personnel.png" alt="personnel">
            <div class="card-body">
              <h3>Personnel</h3>
              <p></p>
            </div>
          </div>
          </a>

        <a routerLink="/assiduites">
      <div class="card"  >
        <img src="/assets/adminstration.png" alt="assiduite">
        <div class="card-body">
          <h4>Assiduite</h4>
          <p></p>
        </div>
    </div>
  </a>


 


  <a routerLink="/listeDep">
      <div class="card">
        <img src="/assets/departement.png" alt="departement">
        <div class="card-body">
          <h3>Departement</h3>
          <p></p>
        </div>
      </div>
    </a>

  <!-- <a routerLink="/listeAbsences" target="_blank"  pour nous dirige versune autre page> -->
  <a routerLink="/listeAbsences">
      <div class="card">
        <img src="/assets/absence.png" alt="absence">
        <div class="card-body">
          <h3>Absence</h3>
          <p></p>
        </div>
      </div>
  </a>

    </div>
  
  <div class="card-group">
  <a routerLink="/listeConge" >
      <div class="card">
        <img src="/assets/congé.png" alt="conge">
        <div class="card-body">
          <h3>Conge</h3>
          <p></p>
        </div>
      </div>
    </a>
    
  
    <a routerLink="/contrats">
      <div class="card">
        <img src="/assets/contrat.png" alt="contrat">
        <div class="card-body">
          <h3>Contrat</h3>
          <p></p>
        </div>
      </div>
      </a>


    <a routerLink="/listePret">
      <div class="card">
        <img src="/assets/pret.png" alt="pret">
        <div class="card-body">
          <h3>Pret</h3>
          <p></p>
        </div>
      </div>
      </a>


    <a routerLink="/documents">
      <div class="card">
        <img src="/assets/documentadministratif.png" alt="documentation">
        <div class="card-body">
          <h4>Documents <br> Administratifs</h4>
          <p></p>
        </div>
      </div>
    </a>
    </div>
    </div>
  </section>
  
</body>
</html>





















