<app-navbar></app-navbar>
<div class="container">
    <div class="mb-4">
        <h2>Liste des assiduite</h2>
        <button type="button" class="btn btn-primary" routerLink="/addAssiduite">Ajouter un Assiduite</button>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nb Heures Travaillées</th>
                            <th scope="col">Nb Heures Supplementaires</th>
                            <th scope="col">totalAbsences</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let assiduite of assiduites">
                            <td>{{ assiduite.idAssiduite }}</td>
                            <td>{{ assiduite.nbHeures }}</td>
                            <td>{{ assiduite.heuresSupp }}</td>
                            <td>{{assiduite.totalAbsences}}</td>
                            
                            <td>
                                <button type="button" class="btn btn-danger" (click)="supprimerAssiduite(assiduite)">Supprimer</button>
                                <a class="btn btn-warning" [routerLink]="['/updateAssiduite',assiduite.idAssiduite]">Modifier</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
