<app-navbar></app-navbar>
<div class="container">
    
    <div>
        <h2>Ajouter un contrat :</h2>
    </div>
    <form>
        <div class="col-md-6">
        <div hidden class="mb-3">
            <label class="form-label">ID </label>
            <input type="text" [(ngModel)]="newContrat.idContrat" name="idContrat" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Type Du Contrat :</label>
            <input type="text" [(ngModel)]="newContrat.type" name="type" class="form-control" required #typeField="ngModel">
            <div *ngIf="typeField?.invalid && (typeField?.dirty || typeField?.touched)" class="text-danger">
            <div *ngIf="typeField?.errors?.['required']">Prenom requis.</div>
            <div *ngIf="typeField?.errors?.['type'] && !typeField?.errors?.['required']"></div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Date d'Embauche :</label>
            <input type="date" [(ngModel)]="newContrat.dateEmbauche" name="dateEmbauche" class="form-control" required>
        </div>
        </div>
        <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Date de Signature :</label>
            <input type="date" [(ngModel)]="newContrat.dateSignature" name="dateSignature" class="form-control"
                required [min]="newContrat.dateEmbauche">
            <div *ngIf="newContrat.dateSignature < newContrat.dateEmbauche" class="text-danger">
                La date de signature ne peut pas être postérieure à la date d'embauche.
            </div>
        </div>
        
        
        <div class="mb-3">
            <label class="form-label">Nom du Société :</label>
            <input type="text" [(ngModel)]="newContrat.nomSociete" name="nomSociete" class="form-control"  required #nomSocieteField="ngModel">
            <div *ngIf="nomSocieteField?.invalid && (nomSocieteField?.dirty || nomSocieteField?.touched)" class="text-danger">
            <div *ngIf="nomSocieteField?.errors?.['required']">Nom Societé requis.</div>
            <div *ngIf="nomSocieteField?.errors?.['nomSociete'] && !nomSocieteField?.errors?.['required']"></div>
            </div>
        </div></div>
   
        <div class="mt-2">
            
            <button type="submit" class="btn btn-success" (click)="addContrat()">Ajouter</button>

        </div>
    </form>
</div>

