.text-danger {
    color: red;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #007bff;
  }
  
  h3 {
    color: #28a745;
  }
  
  .form-label {
    font-weight: bold;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .form-control:focus {
    border-color: #28a745;
    box-shadow: 0 2px 8px rgba(40, 167, 69, 0.2);
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-success:hover {
    background-color: #218838;
    color: #fff;
  }
  
  .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
  }
  
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  