 <app-navbar></app-navbar>  
<div class="container">
    <div>
      <h2>Ajouter Un Nouveau Departement :</h2>
    </div>
    <form class="row">

    <div hidden  class="mb-3">
        <label for="idDep" class="form-label">ID Departement :</label> 
        <input [(ngModel)]="newDepartement.idDep" name="idDep"
            class="form-control w-25">
    </div>

    <div class="mb-3">
    <label for="nomDep" class="form-label" >Nom Departement :</label> 
    <input type="text" [(ngModel)]="newDepartement.nomDep" name="nomDep"
        class="form-control" placeholder="Entrez un nom ..." required #nomDepField="ngModel">
        <div *ngIf="nomDepField?.invalid && (nomDepField?.dirty || nomDepField?.touched)" class="text-danger">
            <div *ngIf="nomDepField?.errors?.['required']">Nom Departement requis.</div>
            <div *ngIf="nomDepField?.errors?.['nomDep'] && !nomDepField?.errors?.['required']"></div>
          </div>
    </div>


    <div class="mt-4">
        <button type="submit" (click)="addDepartement()" class="btn btn-success mb-2">Ajouter</button>
      </div>
</form> 
</div>
