<form>

    <div [hidden] >
        <label for="idDep" class="form-label">ID Departement</label> 
        <input [(ngModel)]="newDepartement.idDep" name="idDep"
            class="form-control w-25">
    </div>

    <div>
    <label for="nomDep" class="form-label" >Nom Departement</label> 
    <input type="text" [(ngModel)]="newDepartement.nomDep" name="nomDep"
        class="form-control" placeholder="Entrez un nom de l'avion...">
    </div>


    <div class="mt-4">
        <button type="submit" (click)="addDepartement()" class="btn btn-success mb-2">Ajouter</button>
      </div>
</form> 