

<div class="container">
    <div class="mb-3">
        <h2>Liste des documents</h2>
        <!-- Add button to navigate to add contrat page -->
        <button type="button" class="btn btn-primary" routerLink="/addDocument">Ajouter un document</button>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>type</th> <th>dateCreation</th>  <th>Actions</th> </tr>
                </thead>
                <tbody *ngFor="let document of documents">
                    <tr>
                        <td>{{document.idDocument}}</td>
                        <td>{{document.type}}</td>
                        <td>{{document.dateCreation}}</td>
                        
                        <td><a class="btn btn-danger" (click)="supprimerDocument(document)">Supprimer</a></td>
                        <td><a class="btn btn-warning" [routerLink]="['/updateDocument',document.idDocument]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
